@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --primary-ct: #34346e;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;

        --radius: 0.5rem;

        --brown: #612411;
        --gold: #FFAA00;
        --ripe-mango: #FEC421;
        --light-brown: #BC541B;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}


.reward-card {
    box-shadow: 0 3px 0 0 var(--light-brown);
}

.reward-card-second-shadow {
    box-shadow: 0 3px 0 0 var(--light-brown), 0 0 0 10px color-mix(in srgb, var(--gold) 25%, transparent);
}

.test {
    transition: 1s;
    transform-origin: left center;
    animation: te infinite  4s ease;
}



@keyframes te {
    0% {
        transform: rotateY(0deg) rotateX(0deg);
    }

    50% {
        transform:  rotateZ(-2deg);
    }

    100% {
        transform: rotateY(180deg) rotateX(0deg);
    }
}